<div class="jumbotron">
    <h1>Cotizaciones en pesos argentinos(ARS)</h1>
</div>
<div class="row" id="js-quotations-container">
    <div id="js-prototype" style="display: none;">
        <div class="col-md-4" style="padding: 15px;height: 50px;">
            <div>
                <h2>$__currency</h2>
                <h3>$ $__price</h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        ajaxGetQuotationsAndRender();
        setInterval(function () {
            ajaxGetQuotationsAndRender();
        }, 5000)
    });

    function ajaxGetQuotationsAndRender() {
        $.ajax({
            url: "/api/cotizacion/monedas",
            success: function (response) {
                var $prototype = $('#js-prototype');
                $prototype.siblings().remove();
                for (var i = 0; i < response.length; i++) {
                    var currentCurrency = response[i];
                    var prototypeHTML = $prototype
                        .html()
                        .replace("$__currency", currentCurrency.Currency)
                        .replace("$__price", currentCurrency.Price);
                    $("#js-quotations-container").append(prototypeHTML);
                }
            }
        })
    }
</script>
